<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewBag.Title-OpeCar</title>
    <link rel="icon" href="~/Content/images/cropped-cropped-ALEATICA_CMYK_POS-1-32x32.png">
    @Styles.Render("~/Content/bootstrap")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    @Styles.Render("~/Content/general")
    @Styles.Render("~/Content/home")
    @Styles.Render("~/Content/animate")
    @Scripts.Render("~/bundles/jquerySlim")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="top-bar" id="topBar">
        <div class="container">
            <div class="top top-left">
            </div>
            <div class="top top-right">
                <div class="sidebar-widget widget_search">
                    <div class="top-search">

                        <form role="search" method="get" id="searchform" action="">
                            <div class="input-group">
                                <input type="text" value="" name="s" id="s" class="form-control" placeholder="Buscar">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit" id="searchsubmit" value="Buscar">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                        <a class="search-trigger"><i class="fas fa-search"></i></a><b class="search-close"></b>
                    </div>
                </div>
                <div id="custom_html-3" class="widget_text sidebar-widget text-right small-screen-center widget_custom_html">

                    <div class="textwidget custom-html-widget">
                        <a href="tel:+34913489444">CAE: 987947810/ 999216057 / 043-604014 Anexo 130014.</a>
                    </div>
                </div>
                <div id="custom_html-5" class="widget_text sidebar-widget text-right small-screen-center widget_custom_html">

                    <div class="textwidget custom-html-widget">
                        <a id="salirtopbar" href="Logout">
                            <i class="menu-icon fas fa-user"></i>&nbsp;CERRAR SESIÓN
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="sticky-wrapper" style="">
        <div id="masthead" class="menu navbar navbar-static-top header-logo-left-menu-below oxy-mega-menu navbar-sticky navbar-not-mobile-stuck text-none" role="banner">
            <div class="logo-navbar container-logo">
                <div class="container">
                    <div class="navbar-header">
                        <a href="https://empleados.aleatica.com" class="navbar-brand">
                            <img src="~/Content/images/logo.gif" alt="Empleados ALEATICA">
                            <div class="text_logo hide_logo">Liderazgo en el mercado de infraestructuras de transporte</div>
                        </a>
                        <div class="logo-sidebar">
                        </div>
                    </div>

                </div>
            </div>
            
        </div>
    </div>*@
    <div id="masthead" class="menu navbar navbar-static-top header-logo-left-menu-below oxy-mega-menu navbar-sticky navbar-not-mobile-stuck">
        <div class="container-nav">
            <nav class=" navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="Home"><img src="~/Content/images/logo.png" alt="Empleados ALEATICA"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">CONOCE TU ORGANIZACION<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Aplicacion">APLICACIONES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">NOTICIAS Y MULTIMEDIA</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                MANTENIMIENTO
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Documentos</a>
                                <a class="dropdown-item" href="#">Multimedia</a>
                                <a class="dropdown-item" href="#">Aplicaciones</a>
                                <a class="dropdown-item" href="#">Usuario</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
        @*<div class="nav-container clearfix">
                <nav class="collapse navbar-collapse main-navbar navbar-left" role="navigation">
                    <div class="menu-container">
                        <ul id="menu-main-menu" class="nav navbar-nav">
                            <li id="menu-item-6697" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-6697 dropdown">
                                <a href="https://empleados.aleatica.com/conoce-tu-organizacion/" class="dropdown-toggle">CONOCE TU ORGANIZACIÓN</a><ul role="menu" class="dropdown-menu dropdown-menu-left" style="display: none;">
                                    <li id="menu-item-6698" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6698"><a href="https://empleados.aleatica.com/conoce-tu-organizacion/directorio-empleados/">DIRECTORIO DE EMPLEADOS</a></li>
                                    <li id="menu-item-8327" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8327"><a href="https://empleados.aleatica.com/conoce-tu-organizacion/directorio-centros/">DIRECTORIO DE CENTROS</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-6696" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-6696 dropdown">
                                <a href="https://empleados.aleatica.com/aplicaciones/" class="dropdown-toggle">APLICACIONES</a><ul role="menu" class="dropdown-menu dropdown-menu-left">
                                    <li id="menu-item-8177" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8177"><a href="https://asesoriajuridica.aleatica.com/">ASESORÍA JURÍDICA</a></li>
                                    <li id="menu-item-8178" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8178"><a href="https://bwise.aleatica.com/">BWISE</a></li>
                                    <li id="menu-item-8616" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8616"><a target="_blank" href="https://www.lighthouse-services.com/_StandardCustomURL/WW_IncidentLandingPage.asp?LanguageName=spa&amp;C=aleatica-sau">CANAL ÉTICO</a></li>
                                    <li id="menu-item-12139" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12139"><a target="_blank" href="https://www.lighthouse-services.com/_StandardCustomURL/WW_IncidentLandingPage.asp?LanguageName=spa&amp;C=aleatica-sab">CANAL ÉTICO MÉXICO</a></li>
                                    <li id="menu-item-8179" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8179"><a href="https://guardian.aleatica.com/">DILIGENCIA DEBIDA</a></li>
                                    <li id="menu-item-8180" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8180"><a href="https://gesdoc.aleatica.com/">FILENET GESTIÓN DOCUMENTAL</a></li>
                                    <li id="menu-item-8181" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8181"><a target="_blank" href="http://www.gcons.eit.es/">GCONS</a></li>
                                    <li id="menu-item-8182" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8182"><a href="http://www.gcons.eitvpn.es/">GCONS VPN</a></li>
                                    <li id="menu-item-8185" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8185"><a target="_blank" href="https://www.office.com">OFFICE 365</a></li>
                                    <li id="menu-item-8187" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8187"><a href="https://seguros.aleatica.com/">SEGUROS</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-6870" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-6870 dropdown">
                                <a href="https://empleados.aleatica.com/noticias-y-multimedia/" class="dropdown-toggle">NOTICIAS &amp; MULTIMEDIA</a><ul role="menu" class="dropdown-menu dropdown-menu-left" style="display: none;">
                                    <li id="menu-item-6833" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6833"><a href="https://empleados.aleatica.com/noticias-y-multimedia/noticias/">NOTICIAS</a></li>
                                    <li id="menu-item-6834" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6834"><a href="https://empleados.aleatica.com/noticias-y-multimedia/mediateca/">MEDIATECA</a></li>
                                    <li id="menu-item-10059" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10059"><a href="https://empleados.aleatica.com/noticias-y-multimedia/clipping-de-prensa/">CLIPPING DE PRENSA</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-6700" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-6700 dropdown">
                                <a href="https://empleados.aleatica.com/usuario/" class="dropdown-toggle">MI ALEATICA</a><ul role="menu" class="dropdown-menu dropdown-menu-left" style="display: none;">
                                    <li id="menu-item-8383" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8383"><a href="#">FORMACIÓN</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><div class="menu-sidebar">
                    </div>
                </nav>
            </div>*@

    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

            </div>
            <div class="navbar-collapse collapse">
            </div>
        </div>
    </div>*@
<div class="content body-content" role="main">
    <article>
        @RenderBody()
    </article>
    <section class="section">
        <div class="container">
            
        </div>
    </section>
    <footer id="footer" role="contentinfo">
        <section class="section">
            <div class="container">
                <hr>
                <div class="row margin-bottom-40 margin-top-40">
                    <div class="col-sm-4">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="">Conoce tu organización</a>
                            </li>
                            <li class="list-group-item">
                                <a href="Aplicacion">Aplicaciones</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#"> AplicacionesNoticias y multimedia</a>
                               
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <div id="text-2" class="sidebar-widget  widget_text">
                            <h3 class="sidebar-header">Sobre nosotros</h3>
                            <div class="textwidget">
                                Somos un Grupo de promoción y operación de Infraestructura Smart con visión de futuro.
                                Incorporamos el desarrollo tecnológico, la inteligencia empresarial e iniciativas socialmente responsables
                                y respetuosas con el entorno ambiental para aportar soluciones de infraestructura y movilidad eficientes
                                y sostenibles.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div id="text-19" class="sidebar-widget  widget_text">
                            <div class="textwidget">
                                <p>© @DateTime.Now.Year OPECAR</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</div>
    
    
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/home")
    @*<script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>*@
    @*@Scripts.Render("~/bundles/home")
        @Scripts.Render("~/bundles/general")*@


</body>
</html>
