@model IEnumerable<OpeCar.BusinessEntities.GestionArchivo.EDocumento>
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/sig")
<section class="section">
    <div class="container">
        <div class="row vertical-default">
            <div class="col-md-12 position-inh">
                <h1 class="text-left  margin-top-20 margin-bottom-20 text-normal  normal regular ">
                    @ViewBag.Title
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="section background_soft_gray">
    <br/>
    <div class="container">
        <div class="row vertical-top">
            <div class="col-12 accordion" id="accordionExample">
                @{int cont = 0;}
                @foreach (var item in ViewBag.listaSubArea)
                {

                    if (@item.IdArea == ViewBag.IdArea)
                    {
                        if (cont == 0)
                        {
                            string collapse = "collapse" + @item.IdSubArea;
                            <div class="card">
                                <div class="card-header header-area" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link btn-titulo" type="button" data-toggle="collapse" data-target="#@collapse" aria-expanded="true" aria-controls="@collapse">
                                            @item.Descripcion
                                        </button>
                                    </h5>
                                </div>

                                <div id="@collapse" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="row">
                                            @foreach (var itemHijo in Model.Where(x => x.IdSubArea == item.IdSubArea))
                                            {
                                                <div class="col-2 card-documento">
                                                    <div class="card">
                                                        <img class="card-img-top" src="~/Content/images/pdf_imagev4.jpg" height="auto" width="auto" alt="img descarga"/>
                                                        <div class="card-body card-body-doc">
                                                            <h4 class="nombre-doc">@itemHijo.NombreDocumento</h4>
                                                            <div class="div-btn-descarga">
                                                                <a class="botondescarga" target="_blank" href="#">Descargar</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            string collapse = "collapse" + @item.IdSubArea;
                            <div class="card">
                                <div class="card-header header-area" id="heading@collapse">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed btn-titulo" type="button" data-toggle="collapse" data-target="#@collapse" aria-expanded="false" aria-controls="@collapse">
                                            @item.Descripcion
                                        </button>
                                    </h5>
                                </div>
                                <div id="@collapse" class="collapse" aria-labelledby="heading@collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="row">
                                            @foreach (var itemHijo in Model.Where(x => x.IdSubArea == @item.IdSubArea))
                                            {
                                                <div class="col-2 card-documento">
                                                    <div class="card">
                                                        <img class="card-img-top" src="~/Content/images/pdf_imagev4.jpg" height="auto" width="auto" alt="img descarga"/>
                                                        <div class="card-body card-body-doc">
                                                            <h4 class="nombre-doc">@itemHijo.NombreDocumento</h4>
                                                            <div class="div-btn-descarga">
                                                                <a class="botondescarga" target="_blank" href="#">Descargar</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    cont++;


                }
            </div>


        </div>
    </div>
    <br/>
</section>

