@model IEnumerable<OpeCar.BusinessEntities.GestionArchivo.ESeccionResponse>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css/areas/organizacion")

<section class="section">
    <div class="container">
        <div class="row vertical-default">
            <div class="col-md-12 position-inh">
                @foreach (var item in Model)

                {
                    @*<div id="seccion-organizacion-@item.IdSeccion">*@

                        <div class="fondo-mision position-inh" id="seccion-organizacion-@item.IdSeccion">
                            <h1 class="text-left  margin-top-20 margin-bottom-20 text-normal  normal regular  subtittle-organizacion ">
                                @item.Titulo
                            </h1>
                        </div>
                        if (@item.RutaMultimedia == "")
                        {
                            <div class="col-text-1 text-normal font_24px element-top-20 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
                                <p>@item.Contenido</p>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-text-1 text-normal font_24px element-top-20 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
                                        <p>@item.Contenido</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <img src="@item.RutaMultimedia" class="attachment-full size-full" alt="" />
                                </div>
                            </div>

                        }
                    @*</div>*@
                }



            </div>
        </div>
    </div>
</section>
@section Scripts{
    @Scripts.Render("~/bundles/menu_organizacion")
}