@model IEnumerable<OpeCar.BusinessEntities.GestionArchivo.ESeccionResponse>
@{
    ViewBag.Title = "OrganizacionMantenimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="container">
        <div class="row vertical-default">
            <div class="col-md-12 position-inh">
                <h1 class="text-left  margin-top-20 margin-bottom-20 text-normal  normal regular ">
                    Mantenimiento del Contenido de la Organización
                </h1>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-12 position-inh text-right">
                        <button type="button" id="btnAddOrganizacion" class="btn btn-primary" data-toggle="modal" data-target="#modalOrganizacion" data-placement="top" title="Agregar Cntenido" style="text-align: right; right: 0">
                            +
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section background_soft_gray">
    <div class="container">
        <div class="alert alert-success text-right" style="display: none;">
            <a href="#" class="alert-link">Se realizó el registro correctamente.</a>
        </div>
        <div class="row vertical-top">
            <div class="table-responsive-xl bd-example w-100">
                <table class="table table-hover table-borderless rounded" id="tableOrganizacion">
                    <thead>
                        <tr>
                            <th scope="col">Título</th>
                            <th scope="col">Contenido</th>
                            <th scope="col">Posición</th>
                            <th scope="col">Fecha Creación</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr data-id="@item.IdSeccion">
                                <td>@item.Titulo</td>
                                <td>
                                    @if (item.Contenido.Length > 200)
                                    {
                                        string contenido = item.Contenido.Substring(0, 200) + "...";
                                        @contenido
                                    }
                                    else
                                    {
                                        @item.Contenido
                                    }
                                </td>
                                <td>@item.Posicion</td>
                                <td>@item.FechaCreacion</td>
                                <td>
                                    <button class="btn btn-link organizacion-editar" type="button" data-toggle="modal" data-target="#modalOrganizacion" data-placement="top" title="Editar Contenido" data-id="@item.IdSeccion" data-titulo="@item.Titulo" data-posicion="@item.Posicion" data-contenido="@item.Contenido" data-urlimg="@item.RutaMultimedia">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button class="btn btn-link organizacion-eliminar btnEliminar" data-toggle="tooltip" data-placement="top" title="Eliminar Contenido" type="button" data-id="@item.IdSeccion">
                                        <i class=" fas fa-backspace"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modalOrganizacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal">Nuevo Contenido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formOrganizacion" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="text" class="form-control" id="txtIdOrganizacion" name="idOrganizacion" style="display:none;">
                    <div class="form-group">
                        <label for="txtTitulo" class="col-form-label lbl-modal">Título:</label>
                        <input type="text" class="form-control" id="txtTitulo" name="titulo">
                    </div>
                    <div class="form-group">
                        <label for="txtContenido" class="col-form-label lbl-modal">Contenido:</label>
                        <div id="div-contenido"></div>

                    </div>
                    <div class="form-group">
                        <label for="cbo-position" class="col-form-label lbl-modal">Posicion:</label>
                        <select name="cbo-position" id="cbo-position" class="form-control"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btnCloseModal" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" id="btnGuardarOrganizacion">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    .fr-element {
        font-size: 1rem !important;
    }
</style>
@section css {
    @Styles.Render("~/Content/FroalaEditor")
}

@section scripts {
    @Scripts.Render("~/bundles/FroalaEditor")
    @Scripts.Render("~/bundles/organizacion")
}